
header
{
    background-color: rgb(35, 47, 48);
    padding-top: 10px;
    padding-bottom: 35px;
}


.heading10
{
    margin-left: 20px;
    font-size: 30px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}


.links
{
    margin-left: 25%;
    margin-top: -40px;
}

.link1
{
    display: inline;
    display: inline-block;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link1:hover
{
    background-color: rgb(17, 159, 17);
    transition: 0.6s;
    font-size: 23px;
}

.link2
{
    display: inline;
    display: inline-block;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.link2:hover
{
    background-color: rgb(17, 159, 17);
    transition: 0.6s;
    font-size: 23px;
}

.link3
{
    display: inline;
    display: inline-block;
    color: white;
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}


@media (max-width: 400px) {
    .link1 {
      margin-top: 25px;
    }

    h1
    {
        padding-left: 70px;
    }
  }




body
{
background-color: #8BC6EC;
background-image: -webkit-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
background-image: -moz-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
background-image: -o-linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}


.heading1
{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(106, 11, 47);
    text-align: center;
}

.heading2
{
    font-size: 55px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color: #020642;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.heading2:hover
{
    transition: 0.7s;
    font-size: 60px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background-color:#9309d8;
    color: rgb(151, 233, 44);
    text-align: center;
}


.fst
{
    border-radius: 10px;
}

.fst:hover
{
    transition: 0.6s;
    border-radius: 15px;
    box-shadow: 6px 6px 6px rgb(250, 22, 132), -6px -6px 6px rgb(7, 225, 69);
}

.scnd
{
    border-radius: 10px;
    margin-left: 15%;
}

.scnd:hover
{
    transition: 0.6s;
    border-radius: 15px;
    box-shadow: 6px 6px 6px rgb(250, 22, 132), -6px -6px 6px rgb(7, 225, 69);
}


.thrd
{
    border-radius: 10px;
    margin-left: 13%;
}

.thrd:hover
{
    transition: 0.6s;
    border-radius: 15px;
    box-shadow: 6px 6px 6px rgb(250, 22, 132), -6px -6px 6px rgb(7, 225, 69);
}

@media only screen and (max-width: 700px) and (min-width: 400px)  {.scnd 
    {
      margin-top: 20px;
      margin-left: -1%;
    }

    .thrd
    {
    margin-top: 20px;
      margin-left: -1%;
    }}


.heading3
{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #020642;
    font-size: 25px;
    margin-top: 30px;
}

.heading4
{
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
    
}


  
footer
{
    background-color: rgb(35, 47, 48);
    color: white;
    padding-top: 5px;
    padding-bottom: 30px;
    margin-top:20px;
    
}

.heading7
{
    margin-top: 15px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 196, 0);
}

.p1
{
    margin-top: -20px;
    margin-left: 35px;
}
